Please Choose=Bitte auswählen=UNKNOWN
Berlin/Potsdam=Berlin/Potsdam=Berlin=52.31,13.24
!London=London=London
Other=Sonstiges=other
Bern=Bern=Bern=46.94,7.44
Pforzheim/Enzkreis=Pforzheim/Enzkreis=Pforzheim=48.89,8.69
Augsburg=Augsburg=Augsburg=48.37,10.89
Ruhr region=Ruhrgebiet=Ruhrgebiet=51.51,7.18
Region Stuttgart=Region Stuttgart=Stuttgart=48.77,9.18
Leipzig=Leipzig=Leipzig=51.34,12.37
Wuppertal/Solingen/Remscheid=Wuppertal/Solingen/Remscheid=Wuppertal=51.05,7.30
Düsseldorf=Düsseldorf=Düsseldorf=51.22,6.78
Eichwalde/Zeuthen/Schulzendorf=Eichwalde/Zeuthen/Schulzendorf=Eichwalde=52.37,13.61
Hannover=Hannover=Hannover=52.37,9.73
Bielefeld=Bielefeld=Bielefeld=52.02,8.53
Munich=München=München=48.13,11.57
ZES_Experimentell=ZES_Experimentell=ZES_Experimentell
Landkreis Konstanz=Landkreis Konstanz=Konstanz=47.66,9.17
Weimar=Weimar=Weimar=50.98,11.32
Friedrichshafen=Friedrichshafen=Friedrichshafen=47.65,9.48
Lindau=Lindau=Lindau=47.54,9.68
Ravensburg=Ravensburg=Ravensburg=47.78,9.61
Alb-Donau-Kreis=Alb-Donau-Kreis=Alb-Donau=48.39,9.98
Landkreis Biberach=Landkreis Biberach=Biberach=48.09,9.79
Ulm=Ulm=Ulm=48.40,9.98
Memmingen/Unterallgäu=Memmingen/Unterallgäu=Memmingen=47.96,10.21
Landkreis Günzburg=Landkreis Günzburg=Günzburg=48.35,10.38
Landkreis Heidenheim=Landkreis Heidenheim=Heidenheim=48.68,10.15
Heilbronn/Hohenlohekreis=Heilbronn/Hohenlohekreis=Heilbronn=49.16,9.50
Landkreis Schwäbisch Hall=Landkreis Schwäbisch Hall=Schwäbisch_Hall=49.15,9.91
Karlsruhe/Ettlingen=Karlsruhe/Ettlingen=Karlsruhe=48.97,8.34
Rastatt/Baden Baden=Rastatt/Baden Baden=Rastatt=48.80,8.22
Landau (Palatinate)=Landau (Pfalz)=Landau=49.20,8.12
Bruchsal=Bruchsal=Bruchsal=49.12,8.60
Landkreis Reutlingen=Landkreis Reutlingen=Reutlingen=48.49,9.21
Landkreis Tübingen=Landkreis Tübingen=Tübingen=48.51,9.04
Landkreis Sigmaringen=Landkreis Sigmaringen=Sigmaringen=48.09,9.21
Zollernalbkreis=Zollernalbkreis=Zollernalbkreis=48.27,8.85
Ostalbkreis=Ostalbkreis=Ostalbkreis=48.83,10.09
Aschaffenburg=Aschaffenburg=Aschaffenburg=49.97,9.14
Darmstadt=Darmstadt=Darmstadt=49.87,8.65
Frankfurt/Offenbach/Hanau=Frankfurt/Offenbach/Hanau=Frankfurt=50.12,8.77
Landkreis Fulda=Landkreis Fulda=Fulda=50.56,9.68
Landkreis Gießen=Landkreis Gießen=Gießen=50.57,8.70
Limburg (Lahn)=Limburg (Lahn)=Limburg=50.38,8.06
Main-Kinzig-Kreis=Main-Kinzig-Kreis=Main-Kinzig=50.20,9.19
Mainz/Wiesbaden=Mainz/Wiesbaden=Mainz=50.03,8.23
Odenwaldkreis=Odenwaldkreis=Odenwald=49.66,8.99
Taunus=Taunus=Taunus=50.23,8.45
Vogelsbergkreis=Vogelsbergkreis=Vogelsberg=50.64,9.40
Wetteraukreis=Wetteraukreis=Wetterau=50.33,8.75
Landkreis Bad Kreuznach=Landkreis Bad Kreuznach=Bad-Kreuznach=49.82,7.69
Landkreis Birkenfeld=Landkreis Birkenfeld=Birkenfeld=49.71,7.28
Freiburg (Breisgau)=Freiburg (Breisgau)=Freiburg=47.99,7.85
Landkreis Breisgau-Hochschwarzwald=Landkreis Breisgau-Hochschwarzwald=Breisgau-Hochschwarzwald=48.00,7.85
Landkreis Emmendingen=Landkreis Emmendingen=Emmendingen=48.12,7.85
Landkreis Lörrach=Landkreis Lörrach=Lörrach=47.70,7.76
Landkreis Merzig-Wadern=Landkreis Merzig-Wadern=Merzig=49.5,6.68
Landkreis Neunkirchen=Landkreis Neunkirchen=Neunkirchen=49.38,7.12
Saarbrücken=Saarbrücken=Saarbrücken=49.23,6.99
Landkreis Saarlouis=Landkreis Saarlouis=Saarlouis=49.36,6.78
Saarpfalz-Kreis=Saarpfalz-Kreis=Saarpfalz=49.25,7.24
Landkreis St. Wendel=Landkreis St. Wendel=St-Wendel=49.52,7.10
Ortenaukreis=Ortenaukreis=Ortenau=48.46,7.94
Landkreis Tuttlingen=Landkreis Tuttlingen=Tuttlingen=47.98,8.80
Landkreis Calw=Landkreis Calw=Calw=48.7,8.74
Landkreis Freudenstadt=Landkreis Freudenstadt=Freudenstadt=48.46,8.41
Landkreis Ahrweiler=Landkreis Ahrweiler=Ahrweiler=50.54,7.10
Landkreis Altenkirchen=Landkreis Altenkirchen=Altenkirchen=50.75,7.74
Landkreis Cochem-Zell=Landkreis Cochem-Zell=Cochem-Zell=50.13,7.18
Landkreis Mayen-Koblenz=Landkreis Mayen-Koblenz=Mayen-Koblenz=50.33,7.33
Landkreis Neuwied=Landkreis Neuwied=Neuwied=50.56,7.47
Rhein-Hunsrück-Kreis=Rhein-Hunsrück-Kreis=Rhein-Hunsrück=50.04,7.5
Rhein-Lahn-Kreis=Rhein-Lahn-Kreis=Rhein-Lahn=50.33,7.70
Westerwaldkreis=Westerwaldkreis=Westerwald=50.55,7.87
Koblenz=Koblenz=Koblenz=50.35,7.59
Alzey/Worms=Alzey/Worms=Alzey=49.71,8.22
Mannheim/Ludwigshafen/Heidelberg=Mannheim/Ludwigshafen/Heidelberg=Mannheim=49.45,8.53
Kaiserslautern=Kaiserslautern=Kaiserslautern=49.44,7.77
Neckar-Odenwald-Kreis=Neckar-Odenwald-Kreis=Neckar-Odenwald=49.35,9.14
Zweibrücken/Pirmasens=Zweibrücken/Pirmasens=Zweibrücken=49.22,7.45
Landkreis Bernkastel-Wittlich=Landkreis Bernkastel-Wittlich=Bernkastel-Wittlich=49.92,6.97
Eifelkreis Bitburg-Prüm=Eifelkreis Bitburg-Prüm=Bitburg-Prüm=50.06,6.41
Landkreis Vulkaneifel=Landkreis Vulkaneifel=Vulkaneifel=50.24,6.75
Trier=Trier=Trier=49.76,6.64
Schwarzwald-Baar-Kreis=Schwarzwald-Baar-Kreis=Baar=48.06,8.46
Landkreis Rottweil=Landkreis Rottweil=Rottweil=48.16,8.63
Landkreis Göppingen=Landkreis Göppingen=Göppingen=48.70,9.64
Landkreis Waldshut=Landkreis Waldshut=Waldshut=47.62,8.20
Nuremberg/Erlangen/Fürth=Nürnberg/Erlangen/Fürth=Nuernberg=49.45,11.08
Region Dresden=Region Dresden=Dresden=51.05,13.73
Brühl=Brühl=Bruehl=50.83,6.9
Cottbus=Cottbus=Cottbus=51.76,14.33
Hamburg-Blankenese=Hamburg-Blankenese=Hamburg-Blankenese=53.56,9.81
Cologne=Köln=Köln=50.93,6.95
Wesel=Wesel=Wesel=51.65,6.61
Kiel=Kiel=Kiel=54.32,10.14
Vienna=Wien=Wien=48.20,16.37
Magdeburg=Magdeburg=Magdeburg=52.13,11.6
