<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.tuberlin.mcc.simra.app">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location.network" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".SimraApplication"
        android:allowBackup="true"
        android:icon="@mipmap/simra_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/simra_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <!-- Activities -->
        <activity
            android:name=".activities.StartActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.StatisticsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_statistics" />
        <activity
            android:name=".activities.AboutActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_about_simra" />
        <activity
            android:name=".activities.OpenBikeSensorActivity"
            android:label="@string/title_activity_bluetooth_connection" />
        <activity
            android:name=".activities.LicenseActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_library_license" />
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.WebActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.ProfileActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tuberlin.mcc.simra.app.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.HistoryActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_history"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tuberlin.mcc.simra.app.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ShowRouteActivity"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name=".activities.EvaluateClosePassActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".annotation.IncidentPopUpActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.PopUpWindow"/>
        <activity
            android:name=".activities.CreditsActivity"
            android:label="@string/title_activity_credits"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.SingleRideStatisticsActivity"
            android:configChanges="orientation|screenSize"/>
        <!-- Services -->
        <service
            android:name=".services.RecorderService"
            android:parentActivityName=".MainActivity" />
        <service
            android:name=".services.UploadService"
            android:enabled="true"
            android:parentActivityName=".HistoryActivity" />
        <service
            android:name=".services.OBSService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="connectedDevice" />
        <service
            android:name=".services.CameraService"
            android:exported="false"></service>
        <!-- MetaData -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="io.sentry.auto-init"
            android:value="false" />
    </application>

</manifest>