<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.com.example.android.octeight">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location.network" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/helmet"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <meta-data
            android:name="MAPBOX_MAPID"
            android:value="mapbox.mapbox-light-v9" />
        <meta-data
            android:name="MAPBOX_ACCESS_TOKEN"
            android:value="pk.eyJ1IjoibWVlcmthdG1lIiwiYSI6ImNqb3IzanczdjBhcmEzd285bGN3M2tmYzYifQ.dK_okt0sWZHXc5zwSE4RzQ" />
        <meta-data
            android:name="HEREWEGO_MAPID"
            android:value="hybrid.day" />
        <meta-data
            android:name="HEREWEGO_APPID"
            android:value="t17LkxdBtMj55CyljUxT" />
        <meta-data
            android:name="HEREWEGO_APPCODE"
            android:value="Dv1l6L3uczbBmhFasUc1Eg" />

        <activity
            android:name=".StartActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".WebActivity"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/title_activity_settings"
            android:configChanges="orientation|screenSize"/>

        <service
            android:name=".Constants"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".RecorderService"
            android:parentActivityName=".MainActivity" />
        <service
            android:name=".UploadService"
            android:parentActivityName=".HistoryActivity"
            android:enabled="true" />

        <activity
            android:name=".HistoryActivity"
            android:label="@string/title_activity_history"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.com.example.android.octeight.MainActivity" />
        </activity>
        <activity android:name=".ShowRouteActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".IncidentPopUpActivity"
            android:theme="@style/AppTheme.PopUpWindow"
            android:configChanges="orientation|screenSize"></activity>
    </application>

</manifest>